<h2>Programming languages</h2>


<p class="input-group">
    <input #newLanguage
           (keyup.enter)="addLanguage(newLanguage.value); newLanguage.value=''"
           type="text"
           class="form-control"
           placeholder="Add language...">
    <span class="input-group-btn">
                <button (click)="addLanguage(newLanguage.value); newLanguage.value=''"
                        class="btn btn-default"
                        type="button">OK</button>
    </span>
</p>

<ul class="list-group">
    <li *ngFor="let language of languages" class="list-group-item clearfix">
        <a (click)="removeLanguage(language)" class="pull-right">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
        <span>{{language.name}}</span>
    </li>
</ul>
